on:
    repository_dispatch:
        types: [EventFlow_Backend]

concurrency:
  group: ${{ github.ref }}-${{ github.event.client_payload.after }}
  cancel-in-progress: true

jobs:
    ci:
        name: Unit Testing (Backend)
        runs-on: ubuntu-latest
        env:
            REPO_BACKEND: EventFlow_Backend
            EF_REPO: EventFlow_Backend
            EF_COMMIT: ${{ github.event.client_payload.after }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Mark Commit Status
              run: |
                ./report.sh \
                  --state "pending" \
                  --description "GitHub Actions workflow requested" \
                  --token ${{ secrets.EF_GITHUB_TOKEN }}

            - name: Setup Deploy Keys
              env:
                EF_BACKEND: ${{ secrets.EF_BACKEND }}
              run: |
                ./keys.sh --backend

            - name: Setup .NET 9 SDK
              uses: actions/setup-dotnet@v4
              with:
                dotnet-version: '9.0.x'

            - name: Setup .NET Tools
              run: |
                dotnet tool install dotnet-ef --global

            - name: Build and Test
              run: |
                git clone git@backend.eventflow:${{ github.repository_owner }}/${{ env.REPO_BACKEND }}.git ${{ github.workspace }}/backend

                pushd backend
                dotnet test -c Release
                popd

            - name: Mark Commit Success
              if: success()
              run: |
                ./report.sh \
                  --state "success" \
                  --description "GitHub Actions workflow succeeded" \
                  --token ${{ secrets.EF_GITHUB_TOKEN }}

            - name: Mark Commit Failure
              if: failure()
              run: |
                ./report.sh \
                  --state "failure" \
                  --description "GitHub Actions workflow failed" \
                  --token ${{ secrets.EF_GITHUB_TOKEN }}
