on:
    repository_dispatch:
        types: [EventFlow_Web]

concurrency:
  group: ${{ github.ref }}-${{ github.event.client_payload.after }}
  cancel-in-progress: true

jobs:
    ci:
        name: Unit Testing (Frontend)
        runs-on: ubuntu-latest
        env:
            REPO_FRONTEND: EventFlow_Web
            EF_REPO: EventFlow_Web
            EF_COMMIT: ${{ github.event.client_payload.after }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Mark Commit Status
              run: |
                ./report.sh \
                  --state "pending" \
                  --description "GitHub Actions workflow requested" \
                  --token ${{ secrets.EF_GITHUB_TOKEN }}

            - name: Setup Deploy Keys
              env:
                EF_FRONTEND: ${{ secrets.EF_FRONTEND }}
              run: |
                ./keys.sh --frontend

            - name: Build and Test
              run: |
                git clone git@frontend.eventflow:${{ github.repository_owner }}/${{ env.REPO_FRONTEND }}.git ${{ github.workspace }}/frontend

                pushd frontend/frontend
                npm install
                npm run build
                popd

            - name: Mark Commit Success
              if: success()
              run: |
                ./report.sh \
                  --state "success" \
                  --description "GitHub Actions workflow succeeded" \
                  --token ${{ secrets.EF_GITHUB_TOKEN }}

            - name: Mark Commit Failure
              if: failure()
              run: |
                ./report.sh \
                  --state "failure" \
                  --description "GitHub Actions workflow failed" \
                  --token ${{ secrets.EF_GITHUB_TOKEN }}
